:root{

    --cor-primaria: #86a4a4;
    --cor-secundaria:#000000;
    --cor-terciaria: aliceblue;
    --espacamento: 12px;
}

/* reset */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: var(--cor-primaria);

}

.cabecalho{


    display: flexbox;

    justify-content: space-between;

    align-items: center;
    
    /* centraliza o texto */
    text-align: center;
    
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border-radius: 5px;
    padding: var(--espacamento);

}

/* Grid e Cards */
.grid{

    display: grid;
    
    /* deixa cada um, lado a lado
    em  colunas */
    grid-template-columns: repeat(3, 1fr);

    /* espaçamento */
    gap: var(--espacamento);

    padding: var(--espacamento);
}

.card{

     /* centraliza o texto */
     text-align: center;
     background-color: var(--cor-secundaria);
     color: var(--cor-terciaria);
     border-radius: 8px;
     padding: var(--espacamento);
     margin-top: 10px;

}





/* .box1{

    /* centraliza o texto 
    text-align: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border-radius: 8px;
    padding: var(--espacamento);
    margin-top: 10px;

}

.imagens_da_main_conteiner{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.imagem{

    margin-top: 10px;
    margin-left: 0px;
}

.gif{

    margin-top: 0px;
    margin-right: 5px;

    scale: 100%;
}

.gif2{

    margin-top: 0px;
    margin-left: 5px;

    scale: 100%;
    transform: scaleX(-1);

} */
